<header id="main-header">
	<a href="/" class="logo"></a>
	<button class="menu-launcher">
		<span class="menu-bar"></span>
	</button>
</header>
<div id="menu-fs">
	<nav id="menu-options">
		<ul>
			<li> <a href="/">Inicio</a> </li> 
			<li> <a href="/nuestra_filosofia/">Nuestra Filosofía</a> </li> 
			<li> <a href="https://psiconueve.blogspot.com" target="_blank">Blog</a></li> 
			<li> <a href="/areas_intervencion/">Áreas de Intervención</a> </li> 
			<li> <a href="/metodologia/">Metodología</a> </li> 
			<li> <a href="/quienes_somos/">Quiénes Somos</a> </li> 
			<li> <a href="/servicios/">Servicios Personalizados</a> </li> 
			<li> <a href="/cursos_talleres/">Cursos y Talleres</a> </li> 
			<li> <a href="/contacto/">Contacto</a> </li> 
		</ul>
	</nav>
	<ul id="quotes">
		{% for quotes in site.data.quotes %}
			<li class={% if forloop.first %}"visible"{% else %}"hidden"{% endif %}>
				<blockquote>
					<p>
						{{ quotes.quote }}
					</p>
					<p>
						{{ quotes.author }}
					</p>
				</blockquote>
			</li>
		{% endfor %}
	</ul>
</div>
