#menu-fs {
	position: fixed;
	z-index: 1000;
	top: -100%; left: 0;
	width: 100%;
	height: 100%;
	background: $black1;
	transition: top .25s ease-out .25s;
	#menu-options {
		height: 100%;
		position: absolute;
		top: 0; left: -100%;
		background: $black2;
		transition: left .5s ease-out 0s;
		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			box-sizing: border-box;
			padding: 2em 0;
			height: 100%;
			max-height: 18em;
			width: 15em;
			font-family: $gothic;
			font-size: 3em;
			color: $green1;
			a {
				padding-left: 2em;
			}
			li {
				opacity: 0;
				transition: opacity ease-out .5s;
				&:hover {
					color: $black2;
					background: $white;
					cursor: pointer;
				}
			}
		}
	}
	&.active {
		top: 0;
		transition-delay: 0s;
		#menu-options {
			left: 0;
			transition-delay: .25s;
			li {
				opacity: 1;
				$start-point: 0.75;
				@for $i from 1 through 8 {
					&:nth-child(#{$i}) {
						transition-delay: $start-point + (($i / 10) / 1.5)+s;
					}
				}
				&.active {
					color: $white;
					&:hover {
						color: $black2;
					}
				}
			}
		}
	}
	#quotes {
		font-size: 1.1em;
		opacity: 0;
		transition: opacity .3s;
		li {
			max-width: 40%;
			position: absolute;
			right: 4em;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: opacity 1s;
			p {
				text-align: right;
				&:first-child {
					font-style: italic;
					color: $quote0;
				}
				&:last-child {
					color: $quote1;
					margin-top: 0;
				}
			}
			&:before {
				@include iconbkg(6em, -2em, 0, -3em, "quote");
			}
			&.visible {
				opacity: 1;
				transition: opacity 1s;
			}
		}
		&.active {
			opacity: 1;
			transition: opacity 1s 1.6s;
		}
	}
}
