html, body {
	height: 100%;
	background: $grey0;
}

body {
	font-family: $osans;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: .75em 2em;
	background: $white;
	* {
		cursor: pointer;
	}
	.logo {
		@include logo-dimensions(8em);
	}
	.menu-launcher {
		background: url("../images/menu-launcher.svg") no-repeat center;
		width: 1.5em;
		height: 1.5em;
	}
}

footer {
	text-align: center;
	font-size: .95em;
	position: relative;
	.go-top {
		position: absolute;
		top: -1.5em;
		left: 50%;
		transform: translateX(-50%);
		background: url("../images/go-top.svg") no-repeat center;
		width: 2em;
		height: 2em;
	}
	.logo {
		@include logo-dimensions(8em);
		background-position: 0 100%;
		display: block;
		margin: 0 auto .25em;
	}
	address {
		background: $black1;
		color: $white;
		padding: 1em;
		line-height: 1.25em;
		h4 {
			font-weight: 600;
			color: $green0;
		}
	}
	.copyright {
		font-size: .85em;
		color: $quote1;
		padding: 2em;
		background: $white;
	}
}

.logo {
	background: url("../images/logo.svg");
	background-size: 100% 300%;
}
