#cover {
	height: calc(100vh - 3em);
	max-height: 50em;
	background: url("../images/01.jpg") no-repeat;
	background-size: 130%;
	background-attachment: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2em;
	.title {
		font-size: 5em;
		line-height: 1em;
		span {
			position:relative;
			b {
				color: $green1;
				position: absolute;
				transition: opacity linear .15s, transform linear .3s .15s;
				opacity: 0;
				transform: rotateX(90deg);
				&.visible {
					opacity: 1;
					transform: rotateX(0deg);
					transition-delay: 0;
				}
			}
		}
	}
	.subtitle {
		font-size: 3em;
	}
}
#abstract {
}
