@mixin logo-dimensions($logo-width) {
	width: $logo-width;
	height: $logo-width * 31.92 / 100;
}
@mixin layer {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}
@mixin transparent-layer($color, $opacity) {
	@include layer;
	background: $color;
	opacity: $opacity;
}
@mixin iconbkg($dimensions, $top, $right, $left, $bkg) {
	content: "";
	width: $dimensions;
	height: $dimensions;
	position: absolute;
	top: $top; left: $left; right: $right;
	background: url("../images/#{$bkg}.svg") no-repeat;
	z-index: -1;
}
