* {
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 1em;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
b {
	font-weight: 600;
}
