//Fonts
$osans: 'Open Sans', sans-serif;
$osans-cnd: 'Open Sans Condensed', sans-serif;
$gothic: 'Pathway Gothic One', sans-serif;

//Colors
$white: #FFFFFF;
$black0: #444444;
$black1: #333333;
$black2: #1a1a1a;
$black3: #000000;
$grey0: #f7f7f7;
$grey1: #ededed;
$grey2: #e5e5e5;
$quote0: #b5b5b5;
$quote1: #5d5d5d;
$blue: #2072af;
$green0: #95c2bf;
$green1: #009286;

//Meters
$p-em: 50em;
$mobile-padding: 1.5em;
